{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
{% if messages %}
      {% for message in messages %}
          <h4 style="color:red">{{ message }}</h4>
      {% endfor %}
  {% endif %}
    </center>
<div class="container" style="width:50%">
<h3>Enter new password</h3>
    <form method="POST" style="margin-bottom:25px;">
    {% csrf_token %}
      <div class="form-label">
    <label for="password">Enter The New Password</label>
    <input type="password" class="form-control" id="password" placeholder="minimum 8 characters" name="password1">
  </div>
         <div class="form-label">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2">
  </div>
    <button type="submit" style="margin-left:50px; cursor:pointer;">Reset My Password</button>
</form>
</div>
{% endblock %}