{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
{% if messages %}
      {% for message in messages %}
          <h4 style="color:red">{{ message }}</h4>
      {% endfor %}
  {% endif %}
    </center>

<div class="container" style="width:50%">
<form method="POST" style="margin-bottom:25px;">
    {% csrf_token %}
      <div class="form-label">
    <label for="OTP">OTP</label>
    <input type="text" class="form-control" id="OTP" placeholder="enter the otp" name="otp">
  </div>
    <button type="submit" style="margin-left:50px; cursor:pointer;">Reset My Password</button>
</form>
    </div>

    {% endblock %}